@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{
    --main-color: #ff9f0d;
    --text-color: #fff;
    --other-color: #212121;
    --second-color: #9e9e9e;
    --bg-color: #111;

    --big-font: 4.45rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;

    /* variables preloader */
    --color-1: #1364D3;
    --color-2: #1363d365;
    --color-3: #000;
    --color-4: #1363d315;
    --color-5: #edeef1;


    --text-color-1: #ffff;
    --text-color-2: #dbdfe9;

}



body{
    background: var(--bg-color);
    color: var(--text-color);   
}

.container_web_loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 10;
    background: var(--color-5) url(img/6O4X.gif) no-repeat center center;
    background-size: 15%;
    color: var(--color-3);

    transition: opacity 0.75s, visibility 0.75s;

}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.container_web_loader h2{
    font-size: clamp(40px, 5vw, 50px);
    margin-top: 450px;
    font-family: 'Satisfy', cursive;
    
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all 0.5s ease;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 33px;
    font-weight: 700; 
}
.logo i {
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);
    
}
.logo img{
    height: 100px;
    width: 127px;
}
.navlist{
    display: flex;

}
.navlist a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all 0.5s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}

.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
    display: none;
}

.nav-icons i{
    vertical-align: middle;
    font-size: 25px;
    color: var(--bg-color);
    margin-right: 8px;
    margin-left: 5px;
    transition: all 0.5s ease;

}

#menu-icon{
    font-size: 32px;
    color: var(--bg-color);
    z-index: 100001;
    cursor: pointer;
    display: none;
    vertical-align: middle;
}
.nav-icons i:hover{
    transform: scale(1.1);
    color: var(--text-color);
}

.item_menu, .logo, .home-text, .nav-icons{
    visibility: hidden;
}


.sectionReduce{
    padding: 65px 0 50px;

}
section{
    padding: 50px 14% 15px;

}

footer{
    padding: 10px 14% 5px;

}


.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    gap: 2rem;

}

.home-img{
    width: 100%;
    height: auto;

}
.home-img img{
    height: 800px;
}

.home-text h1{
    font-family: 'Satisfy', cursive;
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
    text-align: center;

}
.home-text h2{
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}
span{
    color: var(--main-color);

}

.home-text{
    text-align: center;
}

.btnBW{
    display: inline-block;
    padding: 15px 35px;
    background: transparent;
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    border: 0.5px solid var(--second-color);
    border-color: var(--main-color);
    transition: all 0.5s ease;
}
.btn{
    display: inline-block;
    padding: 15px 35px;
    background: var(--other-color);
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.btn i{
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
}

.btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #ff9f0d 0px 1px 25px;

}
.btnBW:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #ff9f0d 0px 1px 25px;
    border-color: var(--main-color);

}

.btn2{
    display: inline-block;
    margin-left: 30px;
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.5s ease;

}

.btn2:hover{
    transform: scale(1.1) translateX(5px);

}

header.sticky{
    padding: 12px 24%;
    background: var(--bg-color);

}



.container{
    padding: 30px 14% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    text-align: center;

}

.container-box{
    background: var(--other-color);
    border-radius: 3rem;
    background-color: transparent;
    font-size: 21px;
    font-weight: bold;
    padding-top: 100px;

}

.container-box img{
    width: 100%;
    max-width: 50px;
    height: auto;


}

.container-box h3{
    margin-bottom: 0.5rem;
 

}

.container-box a{
    font-size: var(--p-font);
    letter-spacing: 1px;
    transition: all 0.5s ease;

}

.container-box a:hover{
    color: var(--bg-color);

}



.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 4rem;
}

.about-img img{
    width: 100%;
    height: auto;

}

.about-text h2{
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 2rem;
}

.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;

}


.section-galeria{

    margin: 0;
    width: 100%;
    text-align: center;
}
.section-galeria .contenedor h5{
    font-size: 40px;
    margin-top: 20px;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: all 0.5s ease;
}
.galeria a:hover img{
    transform: scale(1.3);

}
@media(max-width: 780px){
    .section-galeria .contenedor h5{
        font-size: 27px;
    }

}
  
  .gallery-image {
    width: 200px;
    height: auto;
    cursor: pointer;
  }

  
  .lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
  }

  .lightbox-content {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
  }
  
  .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }


 .middle-text{
    text-align: center;

 }
 .middle-text h4{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--main-color);
    font-family: 'Satisfy', cursive;

 }
 .contenedor h4{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--main-color);
    font-family: 'Satisfy', cursive;

 }

 .middle-text h2{
    font-size: var(--h2-font);

}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;

}

.row{
    position: relative;
    padding: 35px 35px 40px;
    background: var(--other-color);
    border-radius: 3rem;
}

.row img{
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 2rem;
}

.row h3{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 7px;
    font-weight: 700;

}
.row p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.1rem;
}

.in-text{
    display: flex;
    align-items: center;
    justify-content: center;

}

.in-text .price h6{
    font-size: 17px;
    color: var(--main-color);
    font-weight: 600;

}

.in-text .s-btn a{
    display: inline-block;
    padding: 9px 23px;
    background: var(--bg-color);
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all 0.5s ease;

}

.in-text .s-btn a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #ff9f0d 0px 1px 25px;
}

.top-icon{
    position: absolute;
    top: 30px;
    left: 35px;
}

.top-icon i{
    font-size: 22px;
    color: var(--main-color);

}

.row-btnReduce{
    text-align: center;
    padding: 30px 0 50px;

}

.row-btn{
    text-align: center;
    margin-top: 4rem;

}

.row img:hover{
    transform: scale(1.1);
}


/* contact */

.contact-content{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    flex-direction: column;
}

.contact-text{
    text-align: center;
    margin-bottom: 4rem;

}
.contact-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;

}
.contact-text h4{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--main-color);
    font-family: 'Satisfy', cursive;

}
.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    max-width: 950px;
    line-height: 30px;
    margin-bottom: 3rem;
}

.social i{
    display: inline-block;
    font-size: 32px;
    color: var(--second-color);
    margin: 0 20px;
    transition: all 0.5s ease;

}

.social .clr i{
    color: var(--main-color);

}

.social i:hover{
    color: var(--main-color);

}

.details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;

}

.main-d a{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;

}
.main-d .time{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;

}

.main-d i{
    vertical-align: middle;
    margin-right: 12px;
    font-size: 28px;
    color: var(--main-color);


}
.main-d-img a img{
    height: 110px;
    width: 137px;

}

.main-d .business_name{
    text-align: center;
    margin-bottom: 5px;
}

.autor{
    margin-top: 25px;
    font-size: 12px;

}



.scroll{
    position: fixed;
    bottom: 2.2rem;
    border-top: 2rem;
    right: 3.2rem;
}

.scroll i{
    font-size: 22px;
    color: var(--text-color);
    background: var(--main-color);
    padding: 10px;
    border-radius: 2rem;
}



.banner{
    position: relative;
    height: 920px;
    overflow: hidden;
	background-color: #f5f5f5;
	background-size: cover;
	background-position: center;
	transition: all .1s ease-in-out;
	animation: banner 50s infinite linear; 

}
.banner img{
	width: 100%;
}
.banner .contenedor{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.banner .contenedor h2{
    text-shadow: 2px 2px 3px #333;
    font-size: 29px;
}

@keyframes banner{
	0%{
		background-image: url("img/pizzaJamonYMorron.jpeg");
	}
	20%{
		background-image: url("img/pizzaJamonYMorron.jpeg");
	}
	21%{
		background-image: url("img/pepinos.jpeg");
	}
	40%{
		background-image: url("img/pepinos.jpeg");
	}
	41%{
		background-image: url("img/panes.jpeg");
	}
	60%{
		background-image: url("img/panes.jpeg");
	}
	61%{
		background-image: url("img/bacon.jpeg");
	}
	80%{
		background-image: url("img/bacon.jpeg");
	}
	81%{
		background-image: url("img/pizzaJamonYMorron.jpeg");
	}
	100%{
		background-image: url("img/pizzaJamonYMorron.jpeg");
	}
}



/* RESPONSIVE */

@media(max-width: 1545px){
    header{
        padding: 10px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 14px 4%;
        transition: .2s;
    }
    
    section{
        padding: 40px 4% 40px;
        transition: .2s;

    }
    footer{
        padding: 0 4% 5px;
    }
    .ratings i{
        font-size: 15px;
    }
}

@media(max-width: 1180px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;

    }
}

@media(max-width: 1076px){
    .nav-icons{
        display: initial;
    }
    #menu-icon{
        display: initial;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: var(--other-color);
        transition: all 0.5s ease;
    }
    .navlist a{
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        border-left: 2px solid var(--main-color);
    }
    .navlist.open{
        top: 100%;

    }
}

@media(max-width: 1045px){
    :root{
        --big-font: 3.3rem;
        --h2-font: 2rem;

    }
    .home-img img{
        width: 100%;
        max-width: 490px;
        height: auto;
    }

    .about-img img{
        width: 100%;
        max-width: 490px;
        height: auto;
    }

}

@media (max-width: 1024px){
	.banner{
		overflow: hidden;
    }
	.banner img{
		margin-top: -200px;
	}
}

@media(max-width: 884px){
    .ratings i{
        font-size: 15px;
    }
    .review-content{
        grid-template-columns: 1fr;
    }
}


@media(max-width: 860px){
    .home{
        grid-template-columns: 1fr;
        height: 118vh;
        
    }
    .home-img{
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
    }
    .home-text{
        padding-top: 150px;
    }
    .banner .contenedor{
        display: block;
    }

}

@media(max-width: 830px){
    .ratings i{
        font-size: 15px;
    }
    .btnBW{
        display: inline;
    }
}

@media (max-width: 780px){
	.banner .contenedor h2{
		font-size: 20px;

}
	.banner p{
		font-size: 20px;

}
	.banner a{
		width: 200px;
		font-size: 15px ;

}

}

@media(max-width: 520px){
    :root{
        --big-font: 2.6rem;
        --h2-font: 1.5rem;
    }
    .social i{
        margin: 0 10px;

    }
    .contact-text p{
        max-width: 100%;

    }
    .details{
        display: grid;

    }
    .details .main-d-img{
        display: grid;
        justify-content: center;
    }
    .container{
        padding: 75px 0 0 0;
        gap: 1rem;
    }
    .banner .contenedor{
        display: block;
    }
    .home-text{
        padding-top: 120px;
    }
    .home-text h1{
        margin-top: 0;
        margin-bottom: 15px;
    }
    .home-text h2{
        margin-top: 0;
    }
    .container-box{
        margin-top: 25px;
    }

}


@media(max-width: 475px){
    :root{
        --big-font: 2.6rem;
        --h2-font: 1.5rem;
    }
    .scroll{
        bottom: .8rem;
        right: .8rem;
    }
}

@media(max-width: 440px){
    :root{
        --big-font: 2.4rem;
        --h2-font: 1.5rem;
    }
    .home{
        height: 110vh;
        gap: 0.1rem;
    }
    .btn2{
        margin-top: 10px;
    }
    .ratings i{
         font-size: 15px;
    }


}

@media(max-width: 420px){
    :root{
        --big-font: 2.4rem;
        --h2-font: 1.5rem;
    }
    .home{
        height: 100vh;
    }
}
@media(max-width: 376px){
    :root{
        --big-font: 2.2rem;
        --h2-font: 1.5rem;
    }
    .banner a{
		padding: 13px 33px;
		font-size: 13px;
    }
    .logo img{
        height: 80px;
        width: 107px;
    }
}


/* Estilos personalizados para SweetAlert */
/* Estilos personalizados para SweetAlert */
.swal-popup {
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(255, 159, 13, 0.5);
    background-color: #111;
  }
  
  .swal-title {
    font-family: 'Satisfy', cursive;
    font-size: var(--h2-font);
    color: #ff9f0d;
  }
  
  .swal-text {
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  
  .swal-confirm-button {
    background-color: #ff9f0d;
    color: #111;
    border-radius: 2rem;
    padding: 10px 20px;
    font-size: var(--p-font);
    font-weight: 600;
    box-shadow: 0 0 10px rgba(255, 159, 13, 0.7);
  }
  
  .swal-confirm-button:hover {
    background-color: #e68a00;
  }
  
  /* Estilo para el select y sus opciones */
  .swal-input select {
    background-color: #212121; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    border: 1px solid #ff9f0d; /* Borde naranja */
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
  
  .swal-input option {
    background-color: #212121; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
  }
  



































































































































































